{{ partial "header" . }}

{{ $incidents := where .Site.RegularPages.ByDate.Reverse "Section" "incidents" }}
{{ $active := where $incidents "Params.resolved" "!=" true }}

{{ partial "systems" (dict "content" . "incidents" $active) }}

{{ with $active }}
  <div class="section-title mute">Active Incidents</div>
  {{ range $active }}
    {{ partial "incident" . }}
  {{ end }}
{{ else }}
  {{ $latest := index $incidents 0 }}
  {{ partial "all-clear" $latest }}
{{ end }}

{{ $recents := first 3 (where $incidents "Params.resolved" "==" true) }}
{{ with $recents }}
<div class="history">
  <div class="section-title">Past Incidents</div>
  <div class="past-incidents">
    {{ range $recents }}
    {{ partial "incident" . }}
    {{ end }}
  </div>
  <a href="/incidents" class="see-more">See all incidents</a>
</div>
{{ end }}

{{ partial "footer" . }}

<script>
	  window.intercomSettings = {
      app_id: "ea5buymh",
      custom_launcher_selector: '.open_intercom'
	  };
	</script>
	<script>
	(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ea5buymh';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
	</script>
<script src="/app.js"></script>
